{% extends 'base.html' %}
{% block head %}
<title>Task Master</title>
{% endblock %}

{% block body %}
<div class="col-md-12">
    <div class="content">
        <h1 style="text-align: center">Update Transcript text</h1>

        <div class="col-12">
            <form action="/update/{{task.id}}" method="POST">
                <textarea id="content" name="content" rows="20" cols="10" style="width:95%;margin-left:40px;margin-right:40px;
                border:0;
                box-shadow:0 0 15px 4px rgba(0,0,0,0.06);border-radius:10px;">
                {{task.content}}
                </textarea>
                <br><br>
                <input type="submit" value="Save" style="position:relative; margin-left: 3%; background-color:rgb(71, 71, 230); border-radius: 12px;
                background-color: #4CAF50;
                border: none;
                color: white;
                padding: 16px 32px;
                text-decoration: none;
                cursor: pointer;">
            </form>
        </div>
        <br></br>
        <div class="col-md-12" >
            <audio controls style="margin-left:40%;">
                <source src="https://www.signalogic.com/melp/EngSamples/Orig/male.wav" type="audio/mpeg">
            </audio>
        </div>

    </div>
</div>
{% endblock %}